@import '../css/theme/themify.scss';
@import '../css/page/form.scss';
@import '../css/page/theme.scss';
@import '../css/common/header.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}