@import './variable.scss';

$themes:(
  blue:(
    // layout
    basis-color: $blue-color,
    menu-hover-color: #FFFFFF,
    theme-title-background:#D2D8EA,
    theme-title-color: #1684FC,
    // button
    btn-primary-background: $blue-color,
    btn-primary-boder: 1px solid $blue-color,
    btn-primary-color: #FFFFFF,
    btn-primary-background-hover:#409eff,
    btn-primary-boder-hover: 1px solid #409eff,
    btn-primary-color-hover: #FFFFFF,

    btn-info-background: $info-color,
    btn-info-boder: 1px solid $info-color,
    btn-info-color: #FFFFFF,
    btn-info-background-hover:#a6a9ad,
    btn-info-boder-hover: 1px solid #a6a9ad,
    btn-info-color-hover: #FFFFFF,

    btn-default-background-hover:#F4F4F5,
    btn-default-boder-hover: 1px solid #F4F4F5,
  ),
  red:(
    // layout
    basis-color: $red-color,
    menu-hover-color: #FFFFFF,
    theme-title-background: #EAD2D2,
    theme-title-color: #E33F3F,
    // button
    btn-primary-background: $red-color,
    btn-primary-boder: 1px solid $red-color,
    btn-primary-color: #FFFFFF,
    btn-primary-background-hover: #f86065,
    btn-primary-boder-hover: 1px solid #f86065,
    btn-primary-color-hover: #FFFFFF, 

    btn-info-background: $info-color,
    btn-info-boder: 1px solid $info-color,
    btn-info-color: #FFFFFF,
    btn-info-background-hover:#a6a9ad,
    btn-info-boder-hover: 1px solid #a6a9ad,
    btn-info-color-hover: #FFFFFF,

    btn-default-background-hover:#F4F4F5,
    btn-default-boder-hover: 1px solid #F4F4F5,
  )
)