@import './variable.scss';

$themes:(
  primary:(
    // layout
    basis-color: $primary-color,
    menu-hover-color: #FFFFFF,
    them-title-background:#D2D8EA,
    them-title-color: #1684FC,
    // button
    btn-primary-background: $primary-color,
    btn-primary-boder: 1px solid $primary-color,
    btn-primary-color: #FFFFFF,
    btn-primary-background-hover:#409eff,
    btn-primary-boder-hover: 1px solid #409eff,
    btn-primary-color-hover: #FFFFFF,
  ),
  danger:(
    // layout
    basis-color: $danger-color,
    menu-hover-color: #FFFFFF,
    them-title-background: #EAD2D2,
    them-title-color: #E33F3F,
    // button
    btn-primary-background: $danger-color,
    btn-primary-boder: 1px solid $danger-color,
    btn-primary-color: #FFFFFF,
    btn-primary-background-hover: #f86065,
    btn-primary-boder-hover: 1px solid #f86065,
    btn-primary-color-hover: #FFFFFF, 
  )
)