@import './variable.scss';

$themes:(
  blue:(
    // layout
    theme-title-background:#D2D8EA,
    theme-title-color: $blue-color,
    // button
    btn-primary-background: $blue-color,
    btn-primary-boder: 1px solid $blue-color,
    btn-primary-color: #FFFFFF,
    btn-primary-background-hover: $bule-color-hover,
    btn-primary-boder-hover: 1px solid $bule-color-hover,
    btn-primary-color-hover: #FFFFFF,

    btn-info-background: $info-color,
    btn-info-boder: 1px solid $info-color,
    btn-info-color: #FFFFFF,
    btn-info-background-hover: $info-color-hover,
    btn-info-boder-hover: 1px solid $info-color-hover,
    btn-info-color-hover: #FFFFFF,

    btn-default-background-hover:$default-color-hover,
    btn-default-boder-hover: 1px solid $default-color-hover,
  ),
  red:(
    // layout
    theme-title-background: #EAD2D2,
    theme-title-color: $red-color,
    // button
    btn-primary-background: $red-color,
    btn-primary-boder: 1px solid $red-color,
    btn-primary-color: #FFFFFF,
    btn-primary-background-hover: $red-color-hover,
    btn-primary-boder-hover: 1px solid $red-color-hover,
    btn-primary-color-hover: #FFFFFF, 

    btn-info-background: $info-color,
    btn-info-boder: 1px solid $info-color,
    btn-info-color: #FFFFFF,
    btn-info-background-hover: $info-color-hover,
    btn-info-boder-hover: 1px solid $info-color-hover,
    btn-info-color-hover: #FFFFFF,

    btn-default-background-hover:$default-color-hover,
    btn-default-boder-hover: 1px solid $default-color-hover,
  )
)