@import './variable.scss';
@import './mixin.scss';


// 按鈕混合
@mixin button($value:default) {
  background-color: themed('btn-#{$value}-background');
  color: themed('btn-#{$value}-color');
  border: 1px solid;
  width:100px;
  height:50px;
  border-radius: 10px;

  &:hover {
    background-color: themed('btn-#{$value}-background-hover');
    border: themed('btn-#{$value}-border-hover');
    color: themed('btn-#{$value}-color-hover');
  }
}

// 使用混合方法
@include themify($themes) {
  .theme_title {
    width: 100%;
    height: 40px;
    background-color: themed('them-title-background');
    color: themed('them-title-color');
  }

  .theme-btn-default {
    @include button;
  }

  .theme-btn-primary {
    @include button('primary');
  }

  .theme-btn-info {
    @include button('info');
  }
}