@import './variable.scss';
@import './themeMixin.scss';


// 按鈕混合
@mixin button($value:default) {
  background-color: themed('btn-#{$value}-background');
  color: themed('btn-#{$value}-color');
  border: 1px solid;
  width:100px;
  height:50px;
  border-radius: 10px;

  &:hover {
    background-color: themed('btn-#{$value}-background-hover');
    border: themed('btn-#{$value}-border-hover');
    color: themed('btn-#{$value}-color-hover');
  }
}

// 使用混合方法
@include themify($themes) {
  .theme-background {
    width: 100%;
    background-color: themed('theme-title-background');
    color: themed('theme-title-color');
  }

  .theme-title {
    color: themed('theme-title-color');
  }

  .theme-default-btn {
    @include button;
  }

  .theme-primary-btn {
    @include button('primary');
  }

  .theme-info-btn {
    @include button('info');
  }
}